 <footer class="footer">
  <div class="footer-content">
    <img src="/Images/u-removebg-preview.png" alt="" width="80px">
    <p>Study More, Smarter. Access curated notes from verified seniors.</p>
    

    <div class="footer-links">
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="#">Privacy</a>
    </div>

    <p class="footer-credit">© 2025 UniShare. All rights reserved.</p>
  </div>
</footer>

